/*CSS Style sheet*/

body { 
    font-size 40px;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif


}

label {
    font-size: 25px;
    color: maroon;
    width: 200px;
    display: inline-block}

textarea {
    font-size: 50px;
}

li {
    list-style-type: none;
}
